.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    width: 80%;
    margin: 2% 10% 2% 10%;
    background: #EEEEEE;
    border-radius: 1.5%;
}

.name-title-sub{
    text-align: center;
}

.timeline{
    padding: 0 8% 0 5%;
}

.timeline-content{
    text-align: justify;
    text-justify: inter-word;
    line-height: 200%;
}

.timeline-title{
    text-align: center;
    text-decoration: underline;
}

.slider-image1{
    border-radius: 5%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.border{
  border: 1px solid black;
  width: 60%;
  margin: 0 20% 0 20%;
}
.disc-text{
  text-align: center;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer{
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.contact-form{
  margin: 5% 5% 0% 5%;
  animation: slidein 1s ease-in 0s 1 normal forwards;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.btn {
  background-color: rgb(39, 132, 247);
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding: 12px 20px 12px 20px;
  animation: bordercolorchange 2s ease-in 0s infinite normal forwards;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: steelblue;
  color: color;
  transform: scale(110%);
}
.dev-info{
  text-align: center;
}