
.thanks{
    background: linear-gradient(#EEEEEE,#DCE8FF);
    justify-content: center;
    padding: 5% 5% 5% 5%;
    text-align: center;
    border: 2px solid;
    animation: bordercolorchange 2s ease 0s infinite normal forwards;
    text-decoration: none;
}
@keyframes bordercolorchange {
    0%{
        border-color: #000000;
    }
    50%{
        border-color: #EEEEEE;
    }
    100%{
        border-color: rgb(176, 175, 175);
    }
}